<!DOCTYPE html>
<html>
<html lang="en">

<head>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'image/logopng-removebg.ico' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
  <div class="container">
    <div class="form">
      <img src="{% static 'image/logopng-removebg.png' %}">
      <h1>eBook nest</h1>
      <h2>User SignUp</h2>
      <div class="singup">
        <h3>Please Enter your personal informations</h3>
        <form action="">

        </form>
      </div>

    </div>

  </div>
  {% load static %}
  <script src="{% static 'js/usersignup.js' %}"></script>
</body>

</html>

</html>