<!DOCTYPE html>
<html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="../images/logopng-removebg.ico">
  <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
  <div class="container">
    <div class="form">
      <img src="../images/logopng-removebg.png">
      <h1>eBook nest</h1>
      <h2>User SignUp</h2>
      <div class="singup">
        <h3>Please Enter your personal informations</h3>
        <form action="">

        </form>
      </div>

    </div>

  </div>

  <script src="../JavaScript/usersignup.js"></script>
</body>

</html>

</html>