<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>e BookNest | Book</title>
{% load static %}
<link rel="icon" type="image/x-icon"  href="{% static 'image/logopng-removebg.ico' %}">
<link rel="stylesheet" href="{% static 'css/available.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="Form">
      <nav class="navbar" id="navbar">
        
      </nav>
      <hr>
      </div>
      <div class="availablebooks" id="availablebooks">
            
      </div>
        <br>
    <script src="{% static 'js/available.js' %}"></script>
</body>
</html>