<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>e BookNest | Book</title>
<link rel="icon" type="image/x-icon"  href="../images/favicon.ico">
<link rel="stylesheet" href="../Style/available.css">
<link rel="stylesheet" href="../Style/nav.css">

</head>
<body>
    <div class="Form">
      <nav class="navbar" id="navbar">
        
      </nav>
      <hr>
      </div>
      <div class="borrowBooks" id="borrowBooks">
            
      </div>
        <br>
    <script src="../JavaScript/borrowed.js"></script>
</body>
</html>