<html>

<head>
    <meta charset="utf-8">
    <title>e BookNest | Add book</title>
    <link rel="icon" type="image/x-icon" href="../images/logopng-removebg.ico">
    <link rel="stylesheet" href="../Style/Styles.css">
    <link rel="stylesheet" href="../Style/add.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div>
        <nav class="navbar" id="navbar">
            
        </nav>
        
    </div>
    
    
    <div class="add">
        <form action="../home_page/home.html" id="form">
            
    
           
            
        </form>
    </div>
    <script src="../JavaScript/add.js"></script>
</body>

</html>