<html>
    <html lang="en">
      {% load static %}
    <head>
      <meta charset="UTF-8">
      <title>e BookNest | Home</title>
      <link rel="icon" type="image/x-icon"  href="{% static 'image/logopng-removebg.ico' %}">
      <link rel="stylesheet" href="{% static 'css/styleHome.css' %}">
      <link rel="stylesheet" href="{% static 'css/nav.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
        .img{
          background-image: url("{% static 'image/People sitting at bookshelves and reading books in bookstore (2).jpg' %}");

        }
      </style>
    </head>
    <body >
      <div id="Admin_page">
        <nav class="navbar" id="navbaradmin">
          <div class="logoandsearch">
            <a href="../home_page/home.html" class="LogoIcon" onclick="AdminHomeuser()">
            <img src="../images/logopng-removebg.png" alt="can't display image">
            </a>
            <a href="../home_page/home.html" class="Logo" onclick="AdminHomeuser()">eBookNest</a>
          </div>
          <div class="bottomline">
              <a href="../home_page/home.html" class="quick" title="Admin Homepage" style="
                  color: #ffffff;
                  text-decoration: underline;
                  font-size: 35px;
                  color: burlywood;
                  padding-bottom: 0px;
                  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                  text-underline-offset: 15.25px;" onclick="AdminHomeuser()">Home</a>
              <a href="../Adimn_Home_page/add.html" class="quick" title="add a new book">Add Book</a>
              <a href="../Adimn_Home_page/Select.html" class="quick" title="edit an existing book">Edit Book</a>
              <a href="../Adimn_Home_page/delete.html" class="quick" title="remove a book from the list">Delete Book</a>
              
              <a href="{% url 'index' %}" class="quick" title="log out">Sign Out</a>
              <label for="Search" class="srch">Search:</label>
              <input type="text" id="SBar" name="Search Bar" placeholder="Search for a book title...">
          </div>
        </nav>
        <!-- <hr style="border: 1px solid burlywood;border-radius: 5px;"> -->
        <div class="img">
          <p class="Welcome">Welcome to eBooknest</p>
        </div>
        <div class ="mix">
          <div class="Books books1" id="Books">
            <div class="Rigth"></div>
            <a href="">Fantasy</a>
            <div class="Left"></div>
          </div>
          <div class="see books1" >
            <a href="../User_Home_page/availavbleBooks.html" id = "see">
              See All
            </a>
          </div>
          <div class="Categoreys" id="Fantasy">
          </div>
          <div class="Books books2" id="Books">
            <div class="Rigth"></div>
            <a href="">Science Fiction</a>
            <div class="Left"></div>
          </div>
          <div class="see books2">
            <a href="../User_Home_page/availavbleBooks.html"id = "see">
              See All
            </a>
          </div>
          <div class="Categoreys" id="Science Fiction">
          </div>
          <div class="Books books3" id="Books">
            <div class="Rigth"></div>
            <a href="">Mystery / Thriller</a>
            <div class="Left"></div>
          </div>
          <div class="see books3">
            <a href="../User_Home_page/availavbleBooks.html"id = "see">
              See All
            </a>
          </div>
          <div class="Categoreys" id="Mystery / Thriller">
          </div>
          <div class="middle">
            <div id="ADD" class ="ADD">
              <a href="../Adimn_Home_page/add.html"id="AddBook" class="Options">Add books</a>
            </div>
            <br><br>
            <div id = "SELECT" class="SELECT">
              <a href="../Adimn_Home_page/Select.html" class="Options">Edit Book Details</a>
            </div>
            <br><br>
            <div id = "DELETE" class="DELETE">
              <a href="../Adimn_Home_page/delete.html" class="Options">Delete Book</a>
            </div>
          </div>
          <div><br><br><br></div>
        </div>
      </div>
      <div id="user_page">
        <nav class="navbar" id="navbaruser">
          <div class="logoandsearch">
            <a href="../home_page/home.html" class="LogoIcon" onclick="UserHomeuser()">
            <img src="../images/logopng-removebg.png" alt="can't display image">
            </a>
            <a href="../home_page/home.html" class="Logo" onclick="UserHomeuser()">eBookNest</a>
          </div>
          <div class="bottomline">
              <a href="../home_page/home.html" class="quick" title="Admin Homepage" style="
                  color: #ffffff;
                  text-decoration: underline;
                  font-size: 35px;
                  color: burlywood;
                  padding-bottom: 0px;
                  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                  text-underline-offset: 15.25px;" onclick="UserHomeuser()">Home</a>
                  
              <a href="../User_Home_page/availavbleBooks.html" class="quick" title="Available books">Available books</a>
              <a href="../User_Home_page/availavbleBooks.html" class="quick" title="Borrow books">Borrow books</a>
      
              
      
              <a href="{% url 'index' %}" class="quick" title="log out">Sign Out</a>
              <label for="Search" class="srch">Search:</label>
              <input type="text" id="SBar" name="Search Bar" placeholder="Search for a book title...">
          </div>
        </nav>
          <div class="img" id="img">
            <p class="Welcome" id="Welcome">Welcome to eBooknest</p>
          </div>
        <div class="mix">
          <div class="buttonAvailable" id="Available" >
            <div class="Rigth"></div>
            <a href="">Available Books</a>
            <div class="Left"></div>
          </div>
          <div class="see" id="hide1">
            <a href="../User_Home_page/availavbleBooks.html">
              See All
            </a>
          </div>
          <br>
          <div class="availablebooks" id="availablebooks">
            
          </div>
          <br>
          <br>
          <!-- <hr> -->
          <div class="buttonBorrow" id="Borrow" >
            <div class="Rigth"></div>
            <a href="">Borrowed Books</a>
            <div class="Left"></div>
          </div>
          <div class="see" id="hide">
            <a href="../User_Home_page/borrowedBooks.html">
              See All
            </a>
          </div>
          <br>
          <div class="borrowBooks" id="borrowBooks">
            
          </div>
        </div>
            </div>
            <script src="{% static 'js/User_Admin.js' %}"></script>

      <!-- <script src="../JavaScript/Role.js"></script> -->
    </body>
</html>