<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
{% load static %}
<title>e BookNest | Book</title>
<link rel="icon" type="image/x-icon"  href="{% static 'image/logopng-removebg.ico' %}">
<link rel="stylesheet" href="{% static 'css/available.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

</head>
<body>
    <div class="Form">
      <nav class="navbar" id="navbar">
        
      </nav>
      <hr>
      </div>
      <div class="borrowBooks" id="borrowBooks">
            
      </div>
        <br>
    <script src="{% static 'js/borrowed.js' %}"></script>
</body>
</html>