<!DOCTYPE html>
<html>
<html lang="en">
{% load static %}
<head>
  <link rel="icon" type="image/x-icon" href="{% static 'image/logopng-removebg.ico' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <style>
    .container {
    width: 100%;
    height: 100vh;
    background-image: url("{% static 'image/People sitting at bookshelves and reading books in bookstore (1).jpg' %}");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;

}
    </style>
</head>

<body>
  <!-- <script src="../JavaScript/SignUpAdmin.js"></script> -->
  <script src="{% static 'Js/SignUpAdmin.js' %}"></script>
</body>

</html>

</html>